* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.app {
  width: 70%;
  margin: 0 auto;
  background-color: #8ddbe2;
  border-radius: 8px;
}

.form input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-right: 8px;
}

.form input:focus {
  outline: none;
}

.form button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #d0bdbd;
  cursor: pointer;
}

.form button:focus {
  outline: "red";
}